html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/*
Barvy:
#545e75 - pozadí stránky
#8ac926 - zelená pro titulek, podnadpis a tlačítka
#7cb422 - tmavší zelená pro tlačítka při najetí myší

Písmo:
Baloo Bhaijaan 2
https://fonts.google.com/specimen/Baloo+Bhaijaan+2?lang=cs_Latn
*/
* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #545e75;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
    line-height: 1;
    font-size: 24px;
    background-color: #8ac926;
    color: white;
}

h2 {
    color: #8ac926;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: white;   
}

.first {
    padding: 16px 20px;

}

.text {
    margin: 20px;
}

.cheesecake {
    width: 100%;
    display: block;
    border-radius: 12px 12px 0 0;
}

.card {
    width: 350px;
    display: block;
    margin: auto;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
    background-color: white;    
}   

.button {
    display: inline-block;
    text-align: center;
    width: 50%; 
    background-color: #8ac926;
    padding: 12px;
    font-weight: bold; 
}

.button:hover {
    background-color: #7cb422;
}

#button1 {
    border-radius: 0 0 0 6px;
    border-right: solid 1px white;
}

#button2 {
    border-radius: 0 0 6px 0;
}